<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Forza Horizons 4 Tuner</title>
  </head>
  <body>
    <div class="container" id="app">
      <div class="col-md-6 offset-md-3">
        <h1 class="my-3">Forza Horizons 4 Tuner</h1>
        <hr>
        <div class="form-group">
          <label for="front_ratio"><strong>Front Ratio:</strong> {{ front_ratio }}</label>
          <input type="range" step="0.01" min="0" max="1" v-model="front_ratio" v-on:change="calculate" class="custom-range">
          <label for="min_value"><strong>Minimum Value:</strong> {{ min_value }}</label>
          <input type="range" step="0.01" min="1" max="300" v-model="min_value" v-on:change="calculate" class="custom-range">
          <label for="max_value"><strong>Maximum Value:</strong> {{ max_value }}</label>
          <input type="range" step="0.01" min="1" max="300" v-model="max_value" v-on:change="calculate" class="custom-range">
        </div>
        <hr>
        <div class="row">
          <div class="col-md">
            <strong>Front Setting</strong>: {{ front_setting }}
          </div>
          <div class="col-md">
            <strong>Rear Setting</strong>: {{ rear_setting }}
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
